{% extends "blog/static/base.html" %}
{% load blog_tags %}
{% load static %}


{% block title %}
    {{ post.title }}
{% endblock %}


{% block content-wrap %}
    <div class="content" style="width:1000px; padding-left: 100px">
      <header class="article-header">
        <h1 class="article-title"><a href="">{{ post.title }}</a></h1>
        <div class="article-meta"> <span class="item article-meta-time">
          <time class="time" data-toggle="tooltip" data-placement="bottom" title="发布时间：{{ post.publish }}">
              <i class="glyphicon glyphicon-time"></i>{{ post.publish }}</time>
          </span>
{#            <span class="item article-meta-source" data-toggle="tooltip" data-placement="bottom" title="来源：第一PHP社区">#}
{#                <i class="glyphicon glyphicon-globe"></i> 第一PHP社区</span>#}
            <span class="item article-meta-category" data-toggle="tooltip" data-placement="bottom" title="栏目：{{ post.category }}">
                <i class="glyphicon glyphicon-list"></i> <a href="" title="">{{ post.category }}</a>
            </span>
            <span class="item article-meta-views" data-toggle="tooltip" data-placement="bottom" title="查看：{{ post.views }}">
                <i class="glyphicon glyphicon-eye-open"></i>共{{ post.views }}次围观</span>
            <span class="item article-meta-comment" data-toggle="tooltip" data-placement="bottom" title="评论：0">
                <i class="glyphicon glyphicon-comment"></i> {{ post.comments.count }}条评论</span> </div>
          
          {% if post.author.id == user.id %}
                <div><a href="{% url 'blog:update_post' post.id %}">编辑文章</a></div>
          {% endif %}
      </header>
      <article class="article-content">
        <p> {{ post.body|markdown }}</p>
      </article>
      <div class="article-tags">标签：
          {% if tags %}
            {% for tag in tags %}
                <a href="" rel="tag">{{ tag.name }}</a>
            {% endfor %}
          {% endif %}
      </div>

      <div class="relates">
        <div class="title">
          <h3>相关推荐</h3>
        </div>
        <ul>
          {% for post in similar_posts %}
        <li>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </li>
              {% empty %}没有类似的文章
            {% endfor %}
        </ul>
      </div>
      <div class="title" id="comment">
        <h3>评论 <small>({{ comments.count }}条)</small></h3>
      </div>
      <!--<div id="respond">
        <div class="comment-signarea">
          <h3 class="text-muted">评论前必须登录！</h3>
          <p> <a href="javascript:;" class="btn btn-primary login" rel="nofollow">立即登录</a> &nbsp; <a href="javascript:;" class="btn btn-default register" rel="nofollow">注册</a> </p>
          <h3 class="text-muted">当前文章禁止评论</h3>
        </div>
      </div>-->
       <div id="respond">
          {% if user.is_authenticated %}
          <form action="" method="post" id="comment-form">
          <div class="comment">
            <div class="comment-title"><img class="avatar" src="{% static 'images/icon/icon.png' %}" alt="" /></div>
            <div class="comment-box">
              <textarea placeholder="您的评论可以一针见血" name="body" id="comment-textarea" cols="100%" rows="3" tabindex="1" ></textarea>
              <div class="comment-ctrl">
                  <span class="emotion"><img src="{% static 'images/face/5.png' %}" width="20" height="20" alt="" />表情</span>
                <div class="comment-prompt">
                    <i class="fa fa-spin fa-circle-o-notch"></i>
                    <span class="comment-prompt-text"></span>
                </div>
                <input type="hidden" name="name" value="{{ user.id }}" class="articleid" />
                <input type="hidden" name="post" value="{{ post.id }}" class="articleid" />
                <button type="submit" id="comment-submit">评论</button>
              </div>
            </div>
          </div>
        </form>
          {% else %}
            <p>未登录，登陆之后方可评论。</p>
          {% endif %}
      </div>
      <div id="postcomments">
        <ol class="commentlist">
        {% for comment in comments %}
          <li class="comment-content">
              <span class="comment-f">{{ forloop.counter }}楼</span>
              <div class="comment-avatar">
                  <img class="avatar" src="{% static 'images/icon/icon.png' %}" alt="" />
              </div>
              <div class="comment-main">
                  <p><span class="address">{{ comment.name }}</span>
                      <span class="time">({{ comment.created }})</span>
                      <br />
                    {{ comment.body|linebreaks }}</p>
              </div>
          </li>
        </ol>
        {% empty %}<p>还没有评论</p>
        {% endfor %}
{#        <div class="quotes">#}
{#            <span class="disabled">首页</span>#}
{#            <span class="disabled">上一页</span>#}
{#            <a class="current">1</a>#}
{#            <a href="">2</a>#}
{#            <span class="disabled">下一页</span>#}
{#            <span class="disabled">尾页</span>#}
{#        </div>#}
          <nav class="pagination" style="display: none;">
            <ul>
              <li class="prev-page"></li>
              <li class="active"><span>1</span></li>
              <li><a href="?page=2">2</a></li>
              <li class="next-page"><a href="?page=2">下一页</a></li>
              <li><span>共 2 页</span></li>
            </ul>
          </nav>

      </div>
    </div>
{% endblock %}


