{% extends "blog/static/base.html" %}
{% load blog_tags %}
{% load static %}


{% block title %}
    {{ post.title }}
{% endblock %}


{% block content-wrap %}
    <div class="content" style="width:1000px; padding-left: 100px">
      <header class="article-header">
        <h1 class="article-title"><a href="">{{ post.title }}</a></h1>
          <p style="float:right;">
                {% if has_fav %}
                    <button id="add_fav_org_button" class="btn-round btn-light" style="background: #999; color: #fff; padding: 5px; font-size: 8px; border-radius: 7px">取消收藏</button>
                {% else %}
                    <button id="add_fav_org_button" class="btn-round btn-light" style="background: #3399CC; color: #fff; padding: 5px; font-size: 8px;border-radius: 7px">添加收藏</button>
                {% endif %}
            </p>
        <div class="article-meta">
            <span class="item article-meta-category" data-toggle="tooltip" data-placement="bottom" title="发布人：{{ post.author }}">
                <i class="glyphicon glyphicon-user"></i> <a href="" title="">{{ post.author }}</a>
            </span>
            <span class="item article-meta-time">
              <time class="time" data-toggle="tooltip" data-placement="bottom" title="发布时间：{{ post.publish }}">
                  <i class="glyphicon glyphicon-time"></i>{{ post.publish }}</time>
            </span>
            <span class="item article-meta-category" data-toggle="tooltip" data-placement="bottom" title="分类：{{ post.category }}">
                <i class="glyphicon glyphicon-list"></i> <a href="" title="">{{ post.category }}</a>
            </span>
            <span class="item article-meta-views" data-toggle="tooltip" data-placement="bottom" title="共{{ post.views }}次围观">
                <i class="glyphicon glyphicon-eye-open"></i>浏览量：{{ post.views }}</span>
            <span class="item article-meta-comment" data-toggle="tooltip" data-placement="bottom" title="共{{ post.comments.count }}条评论">
                <i class="glyphicon glyphicon-comment"></i> 评论数：{{ post.comments.count }}</span>
            <span class="item article-meta-comment" data-toggle="tooltip" data-placement="bottom" title="{{ post.fav_nums }}次收藏">
                <i class="glyphicon glyphicon-star"></i> 收藏量：{{ post.fav_nums }}</span>



            <script type="text/javascript">

            //添加或取消收藏
            function add_fav_org(current_elem, fav_id, fav_type){
                $.ajax({
                    cache: false,
                    type: "POST",
                    url:"{% url 'blog:add_fav' %}",
                    data:{'fav_id':fav_id, 'fav_type':fav_type},
                    async: true,
                    beforeSend:function(xhr, settings){
                        xhr.setRequestHeader("{{ csrf_token }}");
                    },
                    success: function(data) {
                        if(data.fav_status === 'fail'){
                            if(data.fav_msg === '用户未登录'){
                                alert('请登录后再收藏');
                                window.location.href="{% url 'account_login' %}";
                            }else{
                                alert(data.fav_msg)
                            }

                        }else if(data.fav_status === 'success'){
                            current_elem.text(data.fav_msg);
                            // 修改按钮的颜色
                            if (data.fav_msg === '取消收藏') {
                                document.getElementById('add_fav_org_button').style.background = '#999';
                            } else if (data.fav_msg === '添加收藏') {
                                document.getElementById('add_fav_org_button').style.background = '#3399CC';
                            }
                        }
                    },
                });
            }

            $('#add_fav_org_button').on('click', function(){
                add_fav_org($(this), {{ post.id }}, 2);
            });

            </script>
        </div>
      </header>

      <article class="article-content">
        <p>{{ post.body|markdown }}</p>
      </article>
      <div class="article-tags">标签：
          {% if tags %}
            {% for tag in tags %}
                <a href="" rel="tag">{{ tag.name }}</a>
            {% endfor %}
          {% endif %}
      </div>
</div>
      <div class="relates">
        <div class="title">
          <h3>相关推荐</h3>
        </div>
        <ul>
          {% for post in similar_posts %}
        <li>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </li>
              {% empty %}没有类似的文章
            {% endfor %}
        </ul>
      </div>
      <div class="title" id="comment">
        <h3>评论 <small>({{ comments.count }}条)</small></h3>
      </div>
      <!--<div id="respond">
        <div class="comment-signarea">
          <h3 class="text-muted">评论前必须登录！</h3>
          <p> <a href="javascript:;" class="btn btn-primary login" rel="nofollow">立即登录</a> &nbsp; <a href="javascript:;" class="btn btn-default register" rel="nofollow">注册</a> </p>
          <h3 class="text-muted">当前文章禁止评论</h3>
        </div>
      </div>-->
       <div id="respond">
          {% if user.is_authenticated %}

          <form action="{{post.get_absolute_url}}" method="post" id="comment-form">
              {% csrf_token %}
          <div class="comment">
            <div class="comment-title"><img class="avatar" src="{{ user.profile.user_img.url }}" alt="" /></div>
            <div class="comment-box">
              <textarea placeholder="您的评论可以一针见血" name="body" id="comment-textarea" cols="100%" rows="3" tabindex="1" ></textarea>
              <div class="comment-ctrl">
                  <span class="emotion"><img src="{% static 'images/face/5.png' %}" width="20" height="20" alt="" />表情</span>
                <div class="comment-prompt">
                    <i class="fa fa-spin fa-circle-o-notch"></i>
                    <span class="comment-prompt-text"></span>
                </div>
{#                  <input type="hidden" name="name" value="{{ user.id }}" class="articleid" id="name" />#}
{#                  <input type="hidden" name="post" value="{{ post.id }}" class="articleid" id="post" />#}
                <button type="button" id="comment-submit">评论</button>
              </div>
            </div>
          </div>
          </form>
          {% else %}
            <p>未登录，登陆之后方可评论。</p>
          {% endif %}
      </div>
    <div>
        {% include 'blog/static/comment_list.html' %}
{#        <nav class="pagination" style="display: none;">#}
{#            <div class="next-page">#}
{#                 {% if posts.has_next %}#}
{#                    <a href="?page={{ page|add:'1' }}" class="next">下一页</a>#}
{#                {% endif %}#}
{#            </div>#}
{#        </nav>#}
      </div>

    <script src="{% static 'js/jquery.qqFace.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            $('.emotion').qqFace({
                id : 'facebox',
                assign:'comment-textarea',
                path:"{% static 'images/arclist/' %}"	//表情存放的路径
            });
         });
    </script>
{% endblock %}


