{% extends "blog/static/base.html" %}
{% load blog_tags %}
{% load static %}


{% block title %}友情链接{% endblock %}

{% block content-wrap %}
<section class="container container-page">
{% include 'blog/static/pageside.html' %}
  <div class="content">
    <header class="article-header">
      <h1 class="article-title">友情链接</h1>
    </header>
    <ul class="plinks">
      <li><a href="" title="" target="_blank" rel="nofollow"><img src="{% static 'images/icon/favicon.ico' %}" alt="">异清轩</a></li>
      <li><a href="" title="" target="_blank" rel="nofollow"><img src="{% static 'images/icon/favicon.ico' %}" alt="">异清轩</a></li>
      <li><a href="" title="" target="_blank" rel="nofollow"><img src="{% static 'images/icon/favicon.ico' %}" alt="">异清轩</a></li>
      <li><a href="" title="" target="_blank" rel="nofollow"><img src="{% static 'images/icon/favicon.ico' %}" alt="">异清轩</a></li>
    </ul>
  </div>
</section>
    <script>
    $('#link_nav').addClass('active');
    document.getElementById('link_side').innerHTML = "友情链接<span style=\"float: right\">▶</span>";
    </script>
{% endblock %}

