{% extends "blog/static/base.html" %}
{% load blog_tags %}
{% load static %}


{% block title %}标签云{% endblock %}

{% block content-wrap %}
<section class="container container-page">
   {% include 'blog/static/pageside.html' %}
  <div class="content">
    <header class="article-header">
      <h1 class="article-title">标签云</h1>
    </header>
    <ul class="plinks ptags">
        {% for tag in tag_list %}
            <li><a href="{% url 'blog:post_list' %}" title="" target="_blank">{{ tag }}<span class="badge">{{ tag.num_posts }} </span></a></li>
        {% endfor %}
    </ul>
  </div>
</section>
    <script>
        $('#tag_nav').addClass('active');
        document.getElementById('tag_side').innerHTML = "标签云<span style=\"float: right\">▶</span>";
    </script>
{% endblock %}