{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}
{% block content %}

<div style="width: 400px">
<h1 style="margin-bottom: 20px">{% trans "Sign In" %}</h1>
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}

    <div class="form-group">
        <label for="inputDefault">账号</label>
        <input class="form-control" id="id_login" maxlength="30" name="login" placeholder="用户名或邮箱" type="text" />
    </div>

    <div class="form-group">
        <label for="inputDefault">密码</label>
        <input class="form-control" id="id_password" name="password" placeholder="密码" type="password" />
    </div>

    <div class="form-group" style="width: 100px; float: left">
        <label for="inputDefault"></label>
        <input id="id_remember" name="remember" type="checkbox" /> 记住我
    </div>

        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}


<div style="float: right">
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">忘记密码</a>
</div>


  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <button class="btn btn-success" type="submit" style="width: 100%;">登录</button>



</form>

{% get_providers as socialaccount_providers %}
<div style="margin-top: 20px">
    <p>还没有账号？前去<a href="{{ signup_url }}">注册</a></p>
</div>

<div style="margin-top: 20px">
     <p>更多登录方式</p>
</div>


    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}
</div>


{% endblock %}


