  <div class="pageside">
    <div class="pagemenus">
        <div class="tags_title"><h4>个人信息</h4></div>
             <ul class="pagemenu">
                <li><a id="profile" href="{% url 'myaccount:profile' %}">个人资料</a></li>
                <li><a id="update" href="{% url 'myaccount:profile_update' %}">更新资料</a></li>
                <li><a id="email" href="{% url 'account_email' %}">邮箱验证</a></li>
                <li><a id="change_passwd" href="{% url 'account_change_password' %}">修改密码</a></li>
             </ul>
       <div><h4 class="tags_title">个人记录</h4></div>
            <ul class="pagemenu">
                <li><a id="myaccount" href="{% url 'myaccount:my_post' %}">发表的文章</a></li>
                <li><a id="fav_post" href="{% url 'myaccount:fav_post' %}">收藏的文章</a></li>
            </ul>
    </div>
  </div>