{% extends "blog/static/base.html" %}
{% load blog_tags %}
{% load static %}
{% load i18n %}

{% block head_title %}修改密码{% endblock %}


{% block content-wrap %}
<section class="container container-page">

  {% include 'account/pageside.html' %}
  <div class="content">
       <header class="article-header">
      <h1 class="article-title">修改密码</h1>
    </header>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change"  style="padding-left: 250px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
  </div>
</section>
    <script>
    document.getElementById('change_passwd').innerHTML = "密码修改<span style=\"float: right\">▶</span>";
    </script>

{% endblock %}


