
{% extends "blog/static/base.html" %}
{% load blog_tags %}
{% load static %}
{% load i18n %}


{% block title %}个人资料更新{% endblock %}

{% block content-wrap %}
<section class="container container-page">

  {% include 'account/pageside.html' %}

  <div class="content">
    <header class="article-header">
      <h1 class="article-title">我的个人资料</h1>
    </header>

      <div class="form-wrapper"  style="padding-left: 250px; font-size: 15px">
   <form method="post" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
           <div class="fieldWrapper form-group" >
            {{ field.errors }}
        <label for="inputDefault">{{ field.label_tag }}</label>
               {{ field }}
        {% if field.help_text %}
             <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
           </div>
        {% endfor %}
      <div class="button-wrapper submit">
         <input type="submit" value="提交更新" />
      </div>
   </form>
</div>
  </div>
</section>
    <script>
        document.getElementById('update').innerHTML = "更新资料<span style=\"float: right\">▶</span>";
    </script>
{% endblock %}


