{% extends "blog/static/base.html" %}
{% load blog_tags %}
{% load static %}
{% load i18n %}


{% block title %}个人详情{% endblock %}

{% block content-wrap %}
<section class="container container-page">

  {% include 'account/pageside.html' %}

  <div class="content">
    <header class="article-header">
      <h1 class="article-title">我的个人资料</h1>
    </header>
  <div  style="padding-left: 250px; font-size: 20px">
       <p>你好, {{ user.username }}
        {% if not user.profile.account_verified %}
            (您的邮箱还未验证)
        {% endif %}
      </p>
    <div>
        <ul>
            <li>头像：<img src="{{ user.profile.user_img.url }}"><br/>
            <li>姓: {{ user.first_name }} </li>
            <li>名: {{ user.last_name }} </li>
            <li>组织: {{ user.profile.org }} </li>
            <li>电话: {{ user.profile.telephone }} </li>
        </ul>
    </div>
  </div>

  </div>
</section>
     <script>
        document.getElementById('profile').innerHTML = "个人资料<span style=\"float: right\">▶</span>";
    </script>
{% endblock %}



