{% extends "blog/static/base.html" %}
{% load blog_tags %}
{% load static %}


{% block title %}标签云{% endblock %}

{% block content-wrap %}
<section class="container container-page">
  <div class="pageside">
    <div class="pagemenus">
      <ul class="pagemenu">
        <li><a href="{% url 'blog:tag_list' %}">标签云</a></li>
        <li><a href="{% url 'blog:readers' %}">读者墙</a></li>
        <li><a href="{% url 'blog:links' %}">友情链接</a></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <header class="article-header">
      <h1 class="article-title">标签云</h1>
    </header>
    <ul class="plinks ptags">
        {% for tag in tag_list %}
            <li><a href="{% url 'blog:post_list' %}" title="" target="_blank">{{ tag }}<span class="badge">{{ tag.num_posts }} </span></a></li>
        {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}