

<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "blog/static/base.html" %}
{% load blog_tags %}
{% load static %}


<!-- 写入 base.html 中定义的 title -->
{% block title %} 更新文章 {% endblock title %}
<!-- 写入 base.html 中定义的 content -->


{% block content-wrap %}
    <div class="content">
<!-- 写文章表单 -->
        <div class="container">
            <div class="row">
            {% if user.is_authenticated %}
                {% if user != post.author %}
                    <div>这不是您的文章，您无法进行编辑</div>
                    {% else %}
                    <div class="col-12">
                    <br>
                    <!-- 提交文章的表单 -->
                    <form method="post" action="." enctype="multipart/form-data">
                        <!-- Django中需要POST数据的地方都必须有csrf_token -->
                        {% csrf_token %}
                        <!-- 文章标题 -->
                        <div class="form-group">
                            <!-- 标签 -->
                            <label for="title">文章标题</label>
                            <!-- 文本框 -->
                            <input type="text" class="form-control" id="title" name="title" value="{{ post.title }}">
                        </div>
                        <!-- 文章图片 -->
                        <div class="form-group">
                            <!-- 标签 -->
                            <label for="post_img">文章图片</label>
                            <!-- 文本框 -->
                            <input type="file" id="post_img" name="post_img" >
                        </div>

                        <!-- 文章正文 -->
                        <div class="form-group">
                            <label for="body">文章正文</label>
                            <!-- 文本区域 -->
                            <textarea type="text" class="form-control" id="body" name="body" rows="12">{{ post.body }}</textarea>
                        </div>
                        <!-- 提交按钮 -->
                        <input type="hidden" name="author" value="{{ user.id }}" />

                        <div class="form-group">
                            <!-- 标签 -->
                            <label for="title">文章分类</label>
                            <!-- 文本框 -->
                            <select type="" class="form-control" id="category" name="category">
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

{#                        <div class="form-group">#}
{#                            <!-- 标签 -->#}
{#                            <label for="title">标签</label>#}
{#                            <!-- 文本框 -->#}
{#                            <select type="" class="form-control" id="tag" name="tags">#}
{#                                {% for tag in tags %}#}
{#                                    <option value="{{ tag.id }}">{{ tag.name }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
{#                        </div>#}

                        <div class="form-group">
                            <!-- 标签 -->
                            <label for="title">标签</label>
                            <!-- 文本框 -->
                            <input type="text" class="form-control" id="tags" name="tags" value="{{ str_tags }}">
                        </div>
                        <div class="form-group">
                            <!-- 标签 -->
                            <label for="title">是否显示</label>
                            <!-- 文本框 -->
                            <select type="" class="form-control"  name="status">
                                    <option value="published">发布</option>
                                    <option value="draft">不发布</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">完成</button>
                    </form>
                </div>
                {% endif %}

            {% else %}
                <div>还没有登录</div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
